<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to AirBnbFaiz.com, <%= @user.email %></h1>
    <p>
      You have received a notification
    </p>
    <p>Thanks for your Booking and have a great stay!</p>
  </body>
</html>